<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="post" action="/user_input">
      <p>Enter your phrase: <input type="text" name="user_phrase"></p>
      <p><input type="text" id="submit">
    </form>
  </body>
</html>